<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
    <div class="list">

    <a class="item item-thumbnail-left" href="#/tab/dash/4/single">
      <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/evagiselle/128.jpg">
      <h2>Gabriella Ilarreta</h2>
      <p>Estilista</p>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <p>Reviews: 5</p>
    </a>


    <a class="item item-thumbnail-left" href="#">
      <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/marktimemedia/128.jpg">
      <h2>Paola Gomez</h2>
      <p>Maquillista</p>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <i class="ion-star" style="color:#f1c40f"></i>
      <p>Reviews: 2</p>
    </a>

    </div>

    </ion-list>
  </ion-content>
</ion-view>
